@import 'styles/_colors';
@import 'styles/_helpers';

.controlContainer {
  margin-bottom: spacing(2);
}

.controlLabel {
  @include OpenSans-font(regular, 14px);
  display: block;
  margin-bottom: spacing(0.5);
}

.controlHelperText {
  @include OpenSans-font(regular, 12px);
  display: block;
  margin-top: spacing(0.5);
}

.controlErrorText {
  color: $error;
}
