@import 'styles/_colors';
@import 'styles/controls';
@import 'styles/_helpers';

.inputControl {
  /********** Standard Input Styles **********/
  @extend %control;

  &_error {
    border-color: $error;
  }

  /********** File Input Styles **********/
  &[type='file'] {
    display: none;
  }

  &_file {
    @include Flex(center);
    gap: spacing(0.5);

    & img {
      width: 20px;
      height: 20px;
      filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(164deg) brightness(106%) contrast(102%);
    }
  }

  /********** Range Input Styles **********/
  &[type='range'] {
    --range-progress: 0%;

    position: relative;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;

    &::-webkit-slider-runnable-track {
      height: 3px;
      background-color: $grey2;
    }
    &::-moz-range-track {
      background-color: $grey2;
    }

    &::-webkit-slider-thumb {
      position: relative;
      -webkit-appearance: none;
      margin-top: -8.5px;
      background-color: $grey1;
      height: 20px;
      width: 20px;
      border-radius: radius(4);
      border: 1.5px solid $grey3;
    }

    &::before {
      position: absolute;
      content: '';
      height: 3px;
      width: calc(var(--range-progress) * 0.975);
      left: 16px;
      background: $grey;
    }

    &::-moz-range-progress {
      background-color: $grey;
    }

    &:hover:not(:focus) {
      &::-webkit-slider-runnable-track {
        background-color: $grey5;
      }
      &::-moz-range-track {
        background-color: $grey5;
      }
      &::before {
        background-color: $greyDark;
      }
      &::-moz-range-progress {
        background-color: $greyDark;
      }
      &::-webkit-slider-thumb {
        background-color: $backgroundGrey;
      }
      &::-moz-range-thumb {
        background-color: $backgroundGrey;
      }
    }

    &:focus {
      outline-width: 0;
      &::-webkit-slider-thumb {
        border-radius: radius(4);
        outline-offset: 5px;
        outline: 2px solid $greyDark;
      }
      &::-moz-range-thumb {
        outline-offset: 5px;
        outline: 2px solid $greyDark;
      }
    }
  }
}
