@import 'styles/_colors';
@import 'styles/_helpers';
@import 'styles/typography';

.ContactsSection {
  @include FlexColumn(flex-end);
  gap: spacing(2.5);
}

.ContactElement {
  @include Flex(center);
  gap: spacing(1);

  &_info {
    @extend %Montserrat, %semiBold;
    @include font-size(18px, 17px, 3px);
    color: $white;
  }

  &_icon {
    width: 24px;
    height: 24px;
    margin: 0;
    color: $white;
  }
}
