@import 'styles/_colors';
@import 'styles/_helpers';

.ContactsSection {
  @include FlexColumn(flex-end);
  gap: spacing(2.5);
}

.ContactElement {
  @include Flex(center);
  position: relative;

  &_info {
    @include Montserrat-font(medium, 18px, 17px, 3px);
    text-transform: none;
    color: $white;
  }

  &_icon {
    right: -32px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
}
