@import 'styles/_helpers';

.SectionTitle {
  @include FlexColumn;
  gap: spacing(2);

  &_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}
