@import 'styles/_helpers';
@import 'styles/_colors';

.InfoSection {
  @include FlexColumn();
  gap: spacing(3);
  width: fit-content;

  &_items {
    @include FlexColumn();
    gap: spacing(1.5);
  }
}

.InfoItem {
  @include Flex(null, space-between);
  padding-bottom: spacing(1.5);
  gap: spacing(3);

  border-bottom: $black solid 1px;

  &_text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;

    &__bold {
      font-weight: 700;
    }
  }
}
