@import 'styles/_helpers';
@import 'styles/_colors';

.UserSection {
  @include FlexColumn;
  gap: spacing(4);

  &_name {
    @include Montserrat-font(semiBold, 39px, 28px, 8px);
    color: $white;
  }

  &_job {
    @include Montserrat-font(regular, 18px, 14px, 5px);
    color: $white;
  }
}
