@import 'styles/_colors';
@import 'styles/_helpers';
@import 'styles/typography';

.ListItem {
  list-style-type: none;
  position: relative;
  @include FlexColumn;
  gap: spacing(1);

  &::before {
    content: '\2022';
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: $black;
    position: absolute;
    left: -39px;
    top: 2px;
  }

  &_title {
    @include Flex(null, space-between);
  }

  &_text {
    @extend %Montserrat;
    @include font-size(15px, null, 2px);

    &__bold {
      @extend %bold;
      letter-spacing: 4px;
    }
  }
}
