@import 'styles/_colors';
@import 'styles/_helpers';

.ListItem {
  list-style-type: none;
  @include Flex();
  gap: spacing(4);
  position: relative;
  padding-left: spacing(5);

  &::before {
    position: absolute;
    content: ' ';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $black;
    padding: 0;
    margin: 0;
    top: 2px;
    left: 0;
  }

  &_content {
    @include FlexColumn;
    flex: 1;
    gap: spacing(1);
  }

  &_title {
    @include Flex(null, space-between);
  }

  &_text {
    @include Montserrat-font(regular, 15px, null, 2px);

    &__bold {
      font-family: 'Montserrat SemiBold', sans-serif;
      letter-spacing: 4px;
    }
  }
}
