// Common colors
$white: #ffffff;
$black: #1e1e20;

// Background colors
$backgroundDark: #242021;
$headerBackground: #f5deb3;
$backgroundLight: #faf0e6;
$backgroundGrey: #e7e7e9;
$iconBackground: #d3d4d6;

// Skill level default color
$greyDark: #392f3d;

// Form controls colors
$grey: #77717a;
$greyLight: #ababab;
$error: #e22c2c;
