// Common colors
$white: #ffffff;
$black: #1e1e20;

// Background colors
$backgroundDark: #242021;
$backgroundGrey: #e7e7e9;
$iconBackground: #d3d4d6;

// skill level default color
$greyDark: #949698;
