// Common colors
$white: #ffffff;
$black: #1e1e20;

// Background colors
$backgroundDark: #2d2d30;
$headerBackground: #ffcc80;
$backgroundLight: #fdf5e6;
$backgroundGrey: #eceff1;
$iconBackground: #b0bec5;

// Skill level default color
$greyDark: #4e4c67;

// Completed step color
$grey5: #71656b;

// Form controls colors
$grey: #9e9e9e;
$greyLight: #78909c;
$error: #ff5252;
