@import './_helpers';

// Resume dimensions
$resumeWidth: spacing(153);
$resumeHeight: spacing(215);

// Resume sections dimensions
$firstSectionHeight: spacing(39);
$secondSectionHeight: spacing(37);
$thirdSectionHeight: spacing(133);
$fourthSectionWidth: spacing(52);
