@function spacing($values...) {
  $result: ();
  @if length($values) > 4 {
    @error "Too many values. Maximum allowed is 4.";
  }
  @each $value in $values {
    $result: append($result, $value * calc(1rem / 2), space);
  }
  @return $result;
}

@function radius($value: null) {
  $defaultValue: 2px;
  @if ($value == null) {
    @return $defaultValue;
  }
  @return calc($defaultValue * $value);
}

@mixin Flex($align: null, $justify: null) {
  display: flex;

  @if $align {
    align-items: $align;
  }

  @if $justify {
    justify-content: $justify;
  }
}

@mixin FlexColumn($align: null, $justify: null) {
  @include Flex($align, $justify);
  flex-direction: column;
}

@mixin font-size($size, $line-height: null, $letter-spacing: null) {
  font-size: $size;
  @if $line-height {
    line-height: $line-height;
  }

  @if $letter-spacing {
    letter-spacing: $letter-spacing;
  }
}

@mixin Montserrat-font($type, $size, $line-height: null, $letter-spacing: null, $transform: uppercase) {
  @if $type == 'regular' {
    font-family: 'Montserrat Regular', sans-serif;
  } @else if $type == 'lightItalic' {
    font-family: 'Montserrat LightItalic', sans-serif;
    font-style: italic;
  } @else if $type == 'medium' {
    font-family: 'Montserrat Medium', sans-serif;
  } @else if $type == 'semiBold' {
    font-family: 'Montserrat SemiBold', sans-serif;
  } @else {
    @error "Invalid font type: #{$type}. Please choose either 'regular' | 'lightItalic' | 'medium' | 'semiBold'.";
  }

  text-transform: $transform;
  @include font-size($size, $line-height, $letter-spacing);
}

@mixin OpenSans-font($type, $size, $line-height: null, $letter-spacing: null) {
  @if $type == 'regular' {
    font-family: 'Open Sans Regular', sans-serif;
  } @else if $type == 'bold' {
    font-family: 'Open Sans Bold', sans-serif;
  } @else if $type == 'italic' {
    font-family: 'Open Sans Bold', sans-serif;
    font-style: italic;
  } @else {
    @error "Invalid font type: #{$type}. Please choose either 'regular' | 'bold' | 'italic'.";
  }

  @include font-size($size, $line-height, $letter-spacing);
}
