@import 'styles/_helpers';
@import 'styles/typography';
@import 'styles/_colors';

%controlContainer {
  margin-bottom: spacing(2);
}

%control {
  @extend %OpenSans;
  width: 100%;
  padding: spacing(1, 2);
  border: solid 2px $greyLight;
  border-radius: radius(10);
  margin: spacing(0.125);
  cursor: pointer;

  &:hover {
    border-color: $grey;
  }

  &:focus,
  :focus-visible {
    outline-offset: -1px;
    outline: 2px solid $greyDark;
    border-color: $greyDark;
  }
}

%label {
  @extend %OpenSans;
  font-size: 14px;
  display: block;
  margin-bottom: spacing(0.5);
}

%helperText {
  @extend %OpenSans;
  font-size: 12px;
  display: block;
  margin-top: spacing(0.5);
}

%errorText {
  color: $error;
}
