@import 'styles/_helpers';
@import 'styles/_colors';

%control {
  font-family: 'Montserrat Regular', sans-serif;
  width: 100%;
  padding: spacing(1, 2);
  border: solid 2px $greyLight;
  border-radius: radius(10);
  margin: spacing(0.125);
  cursor: pointer;

  &:hover {
    border-color: $grey;
  }

  &:focus,
  :focus-visible {
    outline-offset: -1px;
    outline: 2px solid $greyDark;
    border-color: $greyDark;
  }
}
