%Montserrat {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

%OpenSans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

%italic {
  font-style: italic;
}

%light {
  font-weight: 300;
}

%semiBold {
  font-weight: 500;
}

%bold {
  font-weight: 600;
}

%extraBold {
  font-weight: 700;
}
