@import 'styles/_colors';
@import 'styles/controls';

.selectControl {
  @extend %control;
  background-color: $white;

  &_error {
    border-color: $error;
  }
}

.selectOption {
  &:hover {
    background-color: $greyLight;
  }
  &:focus {
    background-color: $greyLight;
  }
  &[aria-selected='true']:not(&[disabled]) {
    background-color: $greyLight;
    color: $white;
  }
}
