@import 'styles/common';
@import 'styles/_colors';
@import '../../ResumeRreview.module.scss';

.ContactsSection {
  @extend .personData;
  align-items: flex-end;
}

.ContactElement {
  @extend .flexContainer;
  align-items: center;
  gap: 8px;

  &_info {
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  &_icon {
    width: 24px;
    height: 24px;
    margin: 0;
    color: $white;
  }
}
