@import 'styles/_colors';
@import 'styles/_helpers';

.ContactsSection {
  @include FlexColumn(flex-end);
  gap: spacing(2.5);
}

.ContactElement {
  @include Flex(center);
  gap: 8px;

  &_info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    letter-spacing: 3px;
    color: $white;
  }

  &_icon {
    width: 24px;
    height: 24px;
    margin: 0;
    color: $white;
  }
}
