@import 'styles/_colors';
@import 'styles/_helpers';

.Divider {
  margin: 0;
  height: spacing(0.375);
  width: spacing(6);
  background-color: $black;
  border: none;

  &__white {
    background-color: $white;
  }

  &__large {
    height: spacing(0.5);
    width: spacing(9);
  }
}
