@import 'styles/_helpers';
@import 'styles/_colors';

.UserSection {
  @include FlexColumn;
  gap: spacing(4);

  &_name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 39px;
    line-height: 28px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: $white;
  }

  &_job {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $white;
  }
}
