@import 'styles/_helpers';
@import 'styles/_constants';

.PhotoSection {
  @include Flex(center, center);
  max-width: $fourthSectionWidth;
  overflow: hidden;
  text-align: center;

  &_photo {
    width: $fourthSectionWidth;
    height: auto;
    object-fit: cover;
  }
}
