@import '../../styles/_colors';
@import '../../styles/_helpers';

.Navbar {
  width: 100%;
  min-height: 76px;
  @include Flex(center, space-between);
  background-color: $headerBackground;
  padding: spacing(2, 5);

  &_mainPage {
    justify-content: center;
  }

  &_text {
    @include Montserrat-font(semiBold, 24px, 20px);
  }
}
