@import '../../styles/_colors';
@import '../../styles/_helpers';

.Navbar {
  width: 100%;
  @include Flex(center, center);
  background-color: $headerBackground;
  padding: spacing(2, 0);
  position: sticky;
  top: 0;
  z-index: 100;
}
