@import '../../styles/_colors';
@import '../../styles/_helpers';

.Navbar {
  @include Flex(center);
  width: 100%;
  min-height: 76px;
  background-color: $headerBackground;
  padding: spacing(2, 5);

  &_leftSection,
  &_rightSection {
    @include Flex;
    flex: 1;
  }

  &_rightSection {
    justify-content: flex-end;
  }

  &_text {
    @include Montserrat-font(semiBold, 24px, 20px);
  }
}
