@import 'styles/_helpers';

.ProfileSection {
  @include FlexColumn;
  flex: 1;
  padding: spacing(5, 7, 5, 0);
  gap: spacing(3);

  &_profile {
    @include OpenSans-font(regular, 16px, 23px);
  }
}
