@import 'styles/common';
@import 'styles/_helpers';
@import 'styles/_colors';

.mainContainer {
  @extend .flexColumnContainer;
  justify-content: flex-start;
  width: 1224px;
  height: 1718px;
  background-color: $backgroundDark;
}
.titleSection {
  @extend .flexContainer;
  height: spacing(39);
  padding: 0 spacing(16);
}
.personData {
  @extend .flexColumnContainer;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  &_name {
    margin: 0;
  }

  &_job {
    margin: 0;
  }
}

.profileSection {
  @extend .flexContainer;
  background-color: $backgroundGrey;
}

.sectionTitle {
}
.someSection {
  @extend .flexColumnContainer;
  flex: 1;
}

.experienceSection {
  background-color: $white;
  height: spacing(133);
  padding: 0 spacing(16);
}

.skillsSection {
  @extend .flexColumnContainer;
  background-color: $backgroundGrey;
  width: spacing(52);
}
