@import 'styles/_colors';
@import 'styles/_helpers';

.App {
  width: 100%;
  @include FlexColumn(center);
  min-height: 100vh;
  background-color: $backgroundLight;

  & .content {
    padding: spacing(4, 0);
    width: 100%;
    @include FlexColumn(center);
  }
}
